#photos{
	width: absolute;
	height: 60vh;
	margin:10px 80px;

}
#tab{
	width: absolute;
	height: 40vh;
	margin:20px 80px;
}
img{
	height:200px;
	width: 420px;
}
#tab table{
	width: 50%;
	/*height:100%;*/
	text-align: left;
}